.android
.bash_history
.bash_logout
.bash_profile
.bash_profile.bak
.bashrc
.cache
.cargo
cv_debug.log
Desktop
Documents
Downloads
.fehbg
.fleet
.git
.gitconfig
.idea
.java
.local
.mozilla
Music
.npm
.nvm
Pictures
.pki
.profile
.profile.bak
Public
.rustup
.sdkman
Templates
Videos
Workspace
.xsession-errors
.xsession-errors.old
.zcompdump
zsh-syntax-highlighting
.zsh_history
.var
.zoom



.config/QtProject.conf
.config/gtk-2.0
.config/inkscape
.config/nitrogen
.config/abrt
.config/autostart
.config/azote
.config/dconf
.config/gtk-3.0
.config/ibus
.config/imsettings
.config/JetBrains
.config/jgit
.config/microsoft-edge-beta
.config/mimeapps.list
.config/pavucontrol.ini
.config/procps
.config/pulse
.config/sealert.conf
.config/Thunar
.config/user-dirs.dirs
.config/user-dirs.locale
.config/volumeicon
.config/xfce4
.config/gh
.config/cef_user_data
